*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
body{
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	font-family: 'Cairo', sans-serif;


}
.container{
	width: 98%;
	

	margin: auto;
}
#top{
	font-size: 47px;
	margin-top: 10px;
	color: #212644;

cursor: pointer;
}
#top:hover{
	color: #409090;
}
.search{
	width: 100%;
margin: auto;
height: 130px;
text-align: center;
}
.search input[type ='text']{
	width: 45%;
height: 45px;
margin-top: 31px;
border: 1px #ccc solid;
text-align: right;
padding: 10px;
border-radius: 3px;
font-size: 17px;
color: #5f5d5d;
}
.search input[type='submit']{
	width: 7%;
height: 45px;
margin-top: 31px;
border: 1px #ccc solid;
text-align: center;
padding: 10px;
border-radius: 3px;
font-size: 17px;
color: #5f5d5d;
color: #fff;
background-color: #4697bf;
}
.navbar{
	width: 100%;
	height: 270px;
	background-color: #2c4754;
}
.navbar .logo{
	    width: 100%;
       display: block;
       text-align: center;
       
       padding: 20px;
       height: 108px;
}
.navbar .logo h2{
	
	font-family: 'Cairo', sans-serif;
	font-size: 40px;
color: white;
}
.navbar .logo h3{
	font-family: 'Cairo', sans-serif;
	margin-top: -26px;
font-size: 16px;
margin-right: 16px;
color: #cccb4d;
}

.navbar .logo h2 i{
      color: #fff;
}

.navbar #user{
	width: 100%;
    
    text-align: left;
    margin-left:  40px;  
    padding-top: 0px;
    position: absolute;
    top: 0px;
    left: -14px;
    
}
.show_barre{
	left: 0px;
	transition: left 0.3s linear-gradient;
}
#user_list{
	
	background: linear-gradient(#2c4754,#2c4754);
width: 22%;
height: auto;
text-align: right;
margin-top: 0px;
font-size: 15px;
padding: 5px;


padding-right: 10px;

display: block;

position: absolute;
top: 61px;
left: -340px;
transition: left 0.3s linear;
}
.show{
	left: -12px !important;
	transition: left 0.3s linear;

}


#user ul li{
	list-style: none;
}
#user  h3{
	font-family: 'Cairo', sans-serif;
	color: white;
font-size: 21px;
margin-left: 21px;
cursor: pointer;

}
#left{
      color: #ff8400;
      margin-left: 5px;
}
#down{
	
	  color: #ff8400;
	  padding: 0px;
	  margin: 0px;
	  display: none;
	  margin-left: 10px;

	
}
#user ul li h4{
	font-family: 'Cairo', sans-serif;
	color: #e1e1e1;
	font-size: 14px;
	    

}
#user ul li img{
	width: 40%;
text-align: center;
border-radius: 4%;
height: 114px;
margin: auto;
}
.span{
	color: #cccb4d;
	font-family: 'Cairo', sans-serif;
	
}
#user ul li:last-child{
	width: 100%;
	text-align: center;
	margin-top: 50px;
}
#user ul li a{
	text-decoration: none;
	color: white;
	font-family: 'Cairo', sans-serif;
	background-color: #2c4754;
	border-radius: 10px;
	padding: 5px 30px;
	cursor: pointer;
}

/* create paragraph*/
.p{
	width: 100%;
	text-align: right;
	height: 100px;
	color: white;
	font-family: 'Cairo', sans-serif;
	font-size: 15px;
}
.p p{
	margin-right: 50px;
	color: #6e6d6d;

}
.h1{
	width: 100%;
	text-align: right;
	
	color: white;
	font-family: 'Cairo', sans-serif;
	font-size: 11px;
	background-color: #212644;
height: 50px;
box-shadow: 0px 0px 7px 4px #a8a8a8;
}
.h1 h1{
	margin-right: 50px;
	padding: 10px;
	font-size: 17px;
	color: #fff;

}
/* creat header */
.header{
	background-color: #212644;
	width: 79%;
	height: 2555px;
	margin-top: 45px;
	border-radius: 5px;
	box-shadow: 0px 0px 7px 4px #a8a8a8;

}
.so{
	width: 20%;
height: 1000px;
background-color: #212644;

float: right;
margin-top: 46px;
box-shadow: 0px 0px 7px 4px #a8a8a8;

}

.so h5 {
	color: #fff;
	font-size: 13px;
	text-align: center;
}
.so1{
	width: 75%;
height: 230px;
background: linear-gradient(#335869,#2e3e45);
margin: auto;
border-radius: 3px;
margin-bottom: 60px;
}
.so1 h5{
	color: #fff;
	font-size: 13px;
	text-align: center;

}
.fast{
	background-color: #fff;
width: 99%;
height: auto;
margin: auto;
    
padding: 5px;
margin-top: 15px;
}

.fast h1{
	width: 100%;
color: #fff;
text-align: center;
margin-right: 10px;
font-size: 17px;
margin-right: 10px;
background-color: #29b126;
}
.fast ul h2{
	font-size: 14px;
text-align: right;
margin-right: 10px;
color: #939393;
}
.fas ul{
	width: 100%;
	margin: auto;

}
.fast ul li{
	list-style: none;
	display: block;
	margin: 5px;
	width: 100%;
	background-color: #212644;
margin-right: 20px;
height: 43px;
padding: 9px;
border-radius: 4px 0px 0px 4px;
margin-bottom: 15px;
}
.fast ul li a{
	text-decoration: none;
	color: #fff;

	
}
.adv1{
	background-color: #fff;
width: 99%;
height: 300px;
margin: auto;
    
padding: 5px;
margin-top: 15px;

}
.adv1 h1{
	width: 100%;
color: #fff;
text-align: center;
margin-right: 10px;
font-size: 17px;
margin-right: 10px;
background-color: #29b126;
}
.lnk{
	float: right;
margin-right: 20px;
text-decoration: none;
color: white;
background-color: #29b126;
padding: 1px 27px;
margin-bottom: 9px;
font-size: 15px;
border-radius: 5px;
margin-top: 20px;
font-family: 'Cairo', sans-serif;
}

.header .list{
	width: 99%;
height: 80px;
background-color: #fff;
border-bottom: 2px #212644 solid;

float: right;
margin-right: 4px;
border-radius: 0px;
margin-bottom: 0px;
padding-top: 13px;
}
.header ul {
	margin: 0px;
	padding: 0px;
	width: 100%;

}
.header ul li{
	list-style: none;
	display: inline-block;
	float: right;
	font-family: 'Cairo', sans-serif;
	height: 44px;


}
#i1{
width: 4%;
text-align: center;

}
#i1 img{
	width: 98%;
height: 43px;
border-radius: 20%;
}
#i2{
	width: 57%;
	border-left: 2px #2c4754 solid;
	padding-left: 10px;

}
.lnk1{
	text-decoration: none;
	color: #212644;
	margin-right: 10px;
}
#i3{
 width: 15%;
 text-align: right;
margin-right: 10px;
border-left: 2px #2c4754 solid;
color: #6e6d6d;
}
#i4{
	width: 20%;
	text-align: right;
margin-right: 10px;
color: #6e6d6d;

}
.header ul li i{
	color: green;

}
.header ul li h1{
	color: #6e6d6d;
	font-size: 14px;
	text-align: right;

}

.span1{
	font-size: 12px;
	margin-right: 10px;
	color: #2c4754;
	padding-right: 10px;
}

.sub-p{
	width: 100%;
	margin-top: 150px;
}
.sub-p p{
	text-align: center;
	font-size: 16px;
	font-family: 'Cairo', sans-serif;
	color: #6e6d6d;
}
button{
	width: 10%;
	float: right;
	text-align: center;
	background-color: #fff;
	color: #2c4754;
	border:none;
    height: 30px;
	font-size: 10px;
	padding: 5px 5px;
	font-weight: bold;
	border-radius: 2px;
	margin-right: 30px;
	font-family: 'Cairo', sans-serif;
	cursor: pointer;
	margin-bottom: 3px;
}
.yac a{
	text-decoration: none;
	color: #a7cb00;
	font-family: 'Cairo', sans-serif;
}


.end{
	float: left;
	text-align: center;
	
	
	display: inline;
	 width: 100%;
	background-color: #2c4754;
	
	height: 60px;
	
}
.end p{
	color: #fff;
	font-size: 13px;
	font-family: 'Cairo', sans-serif;
	text-align: center;

}
.end span{
	color: #a7cb00;
	font-size: 13px;
	font-family: 'Cairo', sans-serif;
}
.paginator{
margin-top: -60px;
float: right;
margin-right: 30%;
}
.sp1{
	color: #fff;
}
.sp2 a{
    text-decoration: none;
    color: #bdcb4d;
    float: left;
    margin-right: 12px;
}
.sp2 {
   
    color: #fff;
}
.sp3 {
   
    color: white;
}
.sp3 a{
    text-decoration: none;
    color: #b7cb00;
    float: left;
    margin-right: 12px;
}

/* my framework*/
.clearfix{
	clear: both;
}
/*##########################################################################*/
@media (max-width: 1108px) {
	.container{
		width: 99%;
		margin:auto;
	}

	.navbar{
		height: 310px;
	}
	.navbar .logo h2{
		font-size: 60px;
	}
	.navbar .logo h3{
		font-size: 32px;
	}
	.p{
		text-align: center;
		height: auto;
	}
	.p p{
		font-size: 36px;
	}
	.so1{
		width: 95%;
		height: 300px;
	}
	.search input[type="text"]{
		width: 60%;
		height: 80px;
		font-size: 35px;
	}
	.search input[type="submit"]{
		height: 80px;
		width: 15%;
		font-size: 30px;
	}
	.h1{
		text-align: center;
		height: 88px;
	}
	.h1 h1{
		font-size: 30px;
	}
	.so{
		width: 100%;
		padding: 10px;
		float: none;
		height: auto;
		padding: 15px;
	}
	.fast h1{
		font-size: 45px;
		padding: 10px;
	}
	.fast ul h2{
		text-align: center;
		font-size: 35px;
	}
	.fast ul li{
		height: 100px;  
		margin: auto;
        width: 60%;
        margin-bottom: 20px;
        text-align: center;
	}
	.fast ul li a{
		font-size: 45px;
	}
	.adv1 h1{
		font-size: 45px;
		padding: 10px;
	}
	.header{
		width: 100%;

	}
	.lnk{
		padding: 15px 27px;
		font-size: 40px;
	}
	#i4{
		display: none;
	}
	.header .list{
		height: 160px;
	}
	#i1{
		width: 10%;

	}
	#i1 img{
		height: 90px;

	}
	#i2{
		width: 70%;
	}
	.header ul li h1{
		font-size: 30px;
	}
	#i3{
		width: 18%;
	}
	.span1{
		font-size: 28px;
	}
	.sp3 a{
		font-size: 35px;
	}
	.sp2 a{
		font-size: 35px;
	}
	.sub-p p{
		font-size: 35px;
	}
	.end p{
		font-size: 32px;
		text-align: center;
	}
	.end{
		height: 150px;
	}
	.navbar .user{
		width: 0%;
height: 300px;
float: left;
	}
	button{
		height: 80px;
	}
	#user #user_list{
		width: 60%;
		height: auto;
		
		background: linear-gradient(#2c4754,#005a86);
		margin-left: -40px;
		padding-bottom: 20px;
	    position: absolute;
        top: 86px;
        left: -790px;
        transition: left 0.3s linear;
        margin-left: 0px;

}
.show{
	left: -22px !important;
	transition: left 0.3s linear;

}

	#user ul li img{
		width: 40%;
		height: 166px;
	}
	#user ul li a{
		display: block;
		font-size: 40px;
        
        border: 1px white solid;
        padding: 10px;
        width: 55% !important;
        margin:auto;
        margin-top: 45px;
        background-color: #fff;
        color: black;
	}
	#user ul li h4{
	  font-size: 30px;
	}
	i{
		font-size: 30px;
	}
	.so1 h5{
		font-size: 35px;
	}
	#user h3{
		font-size: 35px;
	}
	.spa1
	.spa2
	.sp3{
		font-size: 35px;
	}
	#top{
	font-size: 47px;
	margin-top: 10px;
	color: #212644;

cursor: pointer;
}
#top:hover{
	color: #409090;
}
.yac a{
	font-size: 28px;
}
}

@media (min-width: 992px){
	
	
}
@media (min-width: 1200px){
	
	
}



