{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'lawer.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet"> 
	<title>
		
	</title>
</head>
<body>
	<!-- create logo -->
   <div class="container">
     <div class="title">

        <h1>قوانين الموقع</h1>
        
         
     </div>
     </div>

    <!-- create message for invalid page -->
    
        <div class="container">
        <div class="message">
            <div class="tit1">
                
                <i class="fas fa-gavel"></i>

            <h1>للمساهمة في الموقع أو المنتدى أنت تقرّ و تلتزم بالشّروط التّالية</h1>
             <!-- <a href="/home/loggedin/">الصفحة الرئسية</a> -->
              <!-- <a href="/home/login/">تسجيل الدخول</a>-->
            </div>
              <p>
             إنّ المشرفين في هذا المنتدى سوف يحاولون إزالة أو تعديل أي مشاركة مخالفة لقوانين الموقع في أسرع وقت ممكن. ومع ذلك، فإنه من المستحيل مراقبة جميع المشاركات لذا ليكن في العلم أن جميع الإسهامات في هذا المنتدى تعبّر عن آراء ووجهات نظر أصحابها فقط  ، وبالتّالي فإن المشرفين أو المسؤولين عن الموقع لا يمكن أن يكونوا مسؤولين عن تلك المشاركات مطلقا .<br/>
           </p>
           <div class="paragraph">
           <p>
              يحظر المساهمة بأي مشاركة يمكن أن تفسر على أنها هجومية ، مسيئة ، تشهيريّة تحضّ على التمييز والعنصرية أو الكراهيّة،أو تحتوي على عبارات وقحة وغير لائقة أو تضرّ بشرف أو سمعة الآخرين ( قائمة غير حصريّة) 
               <span>*</span>
              
              </p>
              
               <p>

            يحظر المساهمة بمشاركات ذات صلة بالسّياسة أو ما شابه
            <span>*</span>
              </p>
              <p>
                 يحظر كتابة مشاركات تخصّ الفرق أو المذاهب أو الأحزاب أو الأديان
                 <span>*</span>
              </p>
               <p>
                 يحظر التهجّم والانتقاص لمجتمع أو شعب أو مذهب أو عرق أو قبيلة
                 <span>*</span>
              </p>
              <p>
                يمنع منعا باتّا المساهمة بأي مشاركة فيها سب أو تجريح لأي شخص أو دولة 
                <span>*</span>
              </p>
              <p>
              يحظر المساهمة بمشاركات(أو وضع روابط لمواقع أو صور) لها علاقة بمواضيع منافية للأخلاق أو ذات صبغة جنسيّة
              <span>*</span>
            </p>
            <p>
              يمنع كتابة الايميلات أو أرقام الهواتف فالمنتدى مفتوح للزوار وإدارة المنتدى ليست مسؤولة عن أي أيميل يقع بين يديّ أي شخص خارج المنتدى
              <span>*</span>
            </p>
            <p>
              يمنع استخدام اسم غير لائق أو مشابه لاسم أحد الأعضاء
              <span>*</span>
            </p>
            <p>
               إذا قمت بنشر المعلومات من موقع آخر تأكّد أوّلا من معرفة ما إذا كان الموقع المذكور لا يمنع ذلك، كما يجب ذكرمصادر تلك الموارد احتراما لأصحابها
               <span>*</span>
            </p>
            <p>
              أي إساءة ستؤدي إلى إنهاء عضويّة صاحبها
              <span>*</span>
            </p>
            <p>
              من واجب كل عضو من أعضاء المنتدى تنبيه المشرفين لأي إساءة حتى يتسنى لهم اتخاذ الإجراءات المناسبة
              <span>*</span>
            </p>
            <p>
              التّسجيل و المشاركة في المنتدى ممنوعة على من سنّهم دون 13 سنة ، في صورة تواجد أي شكّ في سنّ العضو فانّه يقع إلغاء عضويّته فورا
              <span>*</span>
            </p>
            <p>
               تذكّر جيّدا أن الإنترنت ليست مكانا يمكن أن تكون فيه مجهولا... و أنّها ليست مكانا للفوضى
               <span>*</span>
            </p>
            <p>
               إنّنا نحتفظ بحقنا في إبلاغ السلطات المختصّة عن أيّ سلوك مخالف
               <span>*</span>
            </p>
            <p>
              الرّجاء عدم تكرار مواضيع مطروحة سابقا و البحث جيّدا في المنتدى عن إجابات ممكنة لأسئلتكم قبل طرحها
              <span>*</span>
            </p>
            <p>

              إنّ المشرفين لديهم السلطة الكاملة لجعل هذا المنتدى مكانا نزيها وبنّاء للجميع. شكرا لتفهمّكم عند إجراء تغييرات على مشاركاتكم ، إنّها ليست ضدكم ولكن فقط في مصلحة الموقع
              <span>*</span>
              
            </p>
              </div>

              
             
            
            
            </div>
           
       </div>

        <div class="container">
        <div class="message">
            <div class="tit1">
                
                <i class="fas fa-clipboard-check"></i>

            <h1>للمساهمة بانتاجاتكم في اثراء الموقع نرجوا منكم الاطّلاع على الملاحظات التّالية</h1>
            </div>
              <p>
             كلّ المساهمات مجّانيّة
             <span>*</span>
              </p>
              <p>
                 لارسال المساهمات يجب ان تكون مسجّلا
                 <span>*</span>
              </p>
              <p>
                 يجب ان لا يتجاوز حجم الملفّ المراد ارساله 5ميغا اوكتي
                 <span>*</span>
              </p>
              <p>
                لكلّ شخص الحقّ في تحميل مساهمتكم
                <span>*</span>
              </p>

              
            
            </div>
           
       </div>

</body>
</html>