
{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'password_forget.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet"> 

    <title>
		
	</title>
</head>
<body>
  <div class="container">
    <div class="logo">
       <h1><img src="{% static 'logo1.jpg' %}"> إدارة الموارد البشرية </h1>
       <h2>فضاء طالب الجامعة</h2>
      
    </div>
    
  </div>

   
  	{% block content %}
  	 
  	 <div class="login">
            <div class="tit1">
                <i class="fas fa-user-check"></i>

            <h1>تسجيل الدخول</h1>
            </div>
             <p>لقد تم
    تم تعيين كلمة المرور الخاصة بك. بنجاح الآن.
  
   
  </p>
              <a href="{% url 'login' %}">الدخول</a>
            
            
            
        </div>
           
       </div>
  	 {% endblock %}
  	
  



   <div class="end">
                
              <p>
                    
                   Université , Algerie | Assisté par un <span class="yac"><a href="http://www.facebook.com/django.756859">étudiant</a>  </span> <span>GRH</span> ,       Copyright &copy; 2018</p>


            </div>
</body>
</html>