
{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'password_forget.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet"> 

    <title>
		
	</title>
</head>
<body>
  <div class="container">
    <div class="logo">
       <h1><img src="{% static 'logo1.jpg' %}"> إدارة الموارد البشرية </h1>
       <h2>فضاء طالب الجامعة</h2>
      
    </div>
    
  </div>

  
     <!-- create signup and sig in -->

       <div class="container">
        <div class="sigin">

            <div class="tit">
            <i class="fas fa-user-plus"></i>
             <h1>إعادة تعيين  </h1>
            </div>
            
            <ul class="form" action="/register/" method="POST"> 
                
                  <p>
                 لقد أرسلنا إليك بالبريد الإلكتروني تعليمات حول تعيين كلمة المرور ، في حالة وجود حساب باستخدام البريد الإلكتروني الذي أدخلته. يجب أن تستقبلهم قريبا.
                 </p>
              <p>إذا لم تتلق بريدًا إلكترونيًا ، فالرجاء التأكد من إدخال العنوان الذي قمت بالتسجيل به ، والتحقق من مجلد الرسائل غير المرغوب فيها.</p>
               
            

                
            </ul>
              

        </div>

   <div class="end">
                
              <p>
                    
                   Université , Algerie | Assisté par un <span class="yac"><a href="http://www.facebook.com/django.756859">étudiant</a>  </span> <span>GRH</span> ,       Copyright &copy; 2018</p>


            </div>
</body>
</html>
