
{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'password_forget.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet"> 

    <title>
		
	</title>
</head>
<body>
  <div class="container">
    <div class="logo">
       <h1><img src="{% static 'logo1.jpg' %}"> إدارة الموارد البشرية </h1>
       <h2>فضاء طالب الجامعة</h2>
      
    </div>
    
  </div>

  

       <div class="container">
        <div class="sigin">

            <div class="tit">
            <i class="fas fa-user-plus"></i>
             <h1>إعادة تعيين كلمة السر</h1>
            </div>
            
            <form class="form" action="" method="post">{% csrf_token%}
                
                  <p>هل نسيت كلمة المرور <i class="fas fa-key"></i> الخاصة بحسابك؟<br/> أدخل عنوان بريدك الإلكتروني <i class="fas fa-envelope-open"></i> وسنرسل لك رابطًا لاسترجاعها</p>
                <li>
                    
                    <input type="text" name="email" id="id_email" placeholder="البريد الالكتروني">
                    <i class="fas fa-envelope-open"></i>
                </li>
               
            

                <input type="submit" name="" value="إرسال">
            </form>
              

        </div>


   <div class="end">
                
              <p>
                    
                   Université , Algerie | Assisté par un <span class="yac"><a href="http://www.facebook.com/django.756859">étudiant</a>  </span> <span>GRH</span> ,       Copyright &copy; 2018</p>


            </div>
</body>
</html>
